
.ml-at {
    margin: 0 auto; 
}


.dis-header {
    width: 1233px;
    margin-top: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}




.tipbox{
    width: 1233px;
    height: 76px;
}

.dis-16 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}

.dis-box{
    width: 1233px;
    height: 456px;
    display: flex;
}

.img{
    width: 712px;
    height: 456px;
}


.ml-57{
    margin-left: 57px;
}

.rightlil{
    display: flex;
    flex-direction: row;
}
.fz-12{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
}

.fz-32{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    /* or 134% */

    font-feature-settings: 'pnum' on, 'lnum' on;
}

.mt-16 {
    margin-top: 16px;
}

.bottombar {
    border-bottom: 6px solid #ccc !important
}

.border-green {
    border-color: #1F6256 !important
}

.help{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    color: #1F6256;
}

.helpbtn{
    width: 84px;
    height: 28px;
    cursor: pointer;
}
