* {
  margin: 0;
  padding: 0;
}

.cli {
  cursor: pointer;
}

.mt-26 {
  margin-top: 26px;
  color: white;
}

.mt-30 {
  margin-top: 30px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-32Text {
  margin-top: 32px;
  color: #666666;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Text/Body Text */

  color: #666666;
}

.mt-30Text {
  margin-top: 30px;
  color: #666666;
}

.isMain {
  display: flex;
  /* background-color: green; */
  min-height: 687px;
  max-height: 687px;
  padding-right: 90px;
}

.oneroundArrBg {
  width: 118px;
  height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  left: 580px;
  top: 745px;
  z-index: -1;
}

.tworoundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  top: 213px;
  right: -53px;
}

.threeroundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  right: -53px;
  top: 334px;
}
.fourroundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  right: 90px;
  bottom: -63px;
}

.isImg {
  min-width: 640px;
  max-width: 733px;
  background: url(../../assets/images/main_left.png);
  background-size: cover;
}

.isRight {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 120px;
  margin-top: 170px;
  /* padding-right: 90px; */
  min-width: 650px;
  position: relative;
}

.mt-40 {
  margin-top: 40px;
}

.fz-64w {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
}

.fz-48 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.mt-40Text {
  line-height: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Text/Body Text */

  color: #666666;
}

.fz-16 {
  font-size: 16px;
}
.colorBlack {
  color: #333333 !important;
}
.lh150 {
  line-height: 150%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Text/Body Text */

  color: #666666;
}
.fz-24 {
  font-size: 24px;
}

.isRight .isRight_btn {
  font-size: 14px;
  margin-top: 37px;
  width: 204px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  background-color: #1f6256;
}

.isGreenBox {
  position: absolute;
  width: 85px;
  height: 60px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(67, 204, 116);
  position: absolute;

}

.fz-16g{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.1em;

  /* Text/Body Text */

  color: #666666;
}
.container .isMain {
  position: relative;
  overflow: hidden;
}

.container .isCenter {
  box-sizing: border-box;
  padding-right: 90px;
  margin-top: 233px;
  padding-left: 210px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.bgShadow {
  background: #ffffff;
  box-shadow: 0px 25px 55px rgba(126, 126, 126, 0.15);
}

.isCenter_left {
  margin-top: 150px;
  /* max-width: 50%; */
  max-width: 40%;
}

.isCenter_left .isBtn {
  margin-top: 32px;
  color: white;
  width: 158px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border-radius: 8px;
  background-color: #1f6256;
}

.isCenter_right {
  margin-left: 70px;
  min-width: 413px;
  display: flex;
  max-width: 40%;
}

.isCenter_right_item {
  /* background-color: white; */
  height: 505px;
  min-width: 296px;
  max-width: 296px;
  min-height: 328px;
  height: 328px;
  margin-right: 43px;
  padding-left: 28px;
  padding-top: 44px;
}

.isIcon {
  background-color: rgb(216, 243, 238);
  min-height: 57px;
  max-height: 57px;
  min-width: 57px;
  max-width: 57px;
  border-radius: 50%;
}

.isCenter_right_itemR {
  /* background-color: red; */
  margin-top: -44px;
}
.fm-raleway {
  font-family: 'Raleway';
}



.isWaiting {
  height: 180px;
  margin-top: 175px;
  display: flex;
  box-sizing: border-box;
}

.isWaiting .left {
  padding-left: 269px;
}

.isWaiting .left .isWaitingText {
  font-size: 48px;
  font-weight: 700px;
  margin-top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;
  /* Text/Title Text */
  color: #333333;
}

.fourroundArrBg {
  position: absolute;
  width: 116px;
  height: 116px;
  left: -26px;
  top: 1942px;
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
}

.isImpact{
  margin-top: 175px;
  display: flex;
  box-sizing: border-box;
}


.isImpact .left{
  margin-left: 200px;
  width: 400px;
}

.isImpact .right{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 120px;
  /* padding-right: 90px; */
  width: 40%;
  position: relative;
}

.isImpact .num{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #194D44;
}

.isrow{
  display: flex;
  flex-direction: row;
}

.isGroup{
  max-width: 136px;
  height: 96px;
}



.fz-14{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #666666;
}

.ml-60 {
  margin-left: 60px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}