.ml-at {
    margin: 0 auto; 
}

.fz-24 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: black;
}

.backcolor{
    height: 400px;
    background: #D8F3EE;
}

.mt-20{
    margin-top: 20px;
}

.mt-40{
    margin-top: 40px;
}


.mt-80{
    margin-top: 80px;
}

.firstcalbox{
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.firstlilbox{
    display: flex;
    flex-direction: column;
}

.headtext{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #278271;
}

.headtip{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    color: #278271;
}

.ml-50{
    margin-left: 50px;
}


.Secondcalbox{
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.onebox{
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.resultbk{
    background: rgba(255, 252, 252, 0.35);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.resultbox{
    width: 50%;
    width: 300px;
    height: 300px;
    margin-top: 60px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.pytext{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #278271;
}

.resultnum{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    /* or 96px */
    color: #FCA100;
}

.resultnumbox{
    height: 100px;
    width: 100%;
}

.pytext2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* or 30px */
    color: #278271;
}

.resultbox2{
    display: flex;
    flex-direction: row;
}


.resultbox3{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.orgtext{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    color: #FCA100;
}

.headbox{
    width: 1200px;
    display: flex;
    flex-direction: row;
}

.headleft{
    width: 40%;
}
 
.headright{
    width: 60%;
}


.ins-24 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #278271;
}

.ins-40 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 40px;
    color: #278271;
}


.img-row{
    display: flex;
    flex-direction:row;
}

.w3-third{
    width: 33.33%;
}


.backcolor1{

    background: #D8F3EE;
}

.pd-10{
    padding: 10px;
}
