.rescontainer {
    width: 1233px;
    margin-top: 80px;
}

.fz-16grey {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.5);
}

.rectanglebox {
    margin-left: 225px;
    width: 820px;
}

.analyzbox {
    width: 1233px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
}

.analyzbox .leftbox {
    width: 558px;
}

.analyzbox .rightbox {
    width: 675px;
}

.analyzbox .rightbox .row {
    width: 675px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
}

.analyzbox .rightbox .row .chart1 {
    margin-top: 30px;
    z-index: 3;
}

.analyzbox .rightbox .row .explain {
    margin-left: -40px;
    margin-top: 30px;
    padding-left: 80px;
    width: 100%;
    border-radius: 0px 32px;
}

.explain:hover {
    box-shadow: 0px 25px 55px rgba(126, 126, 126, 0.25);
}


.ant-progress-circle .ant-progress-text {
    color: white;
}

.pBox {
    width: 118px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F6256;
    border-radius: 50%;
}


