.footer {
  margin-top: 100px;
  display: flex;

  box-sizing: border-box;
  background-color: rgb(57, 154, 137);
  padding: 96px 0 86px 282px;
}

.ml-100 {
  margin-left: 100px;
}


.mt-38 {
  margin-top: 38px;
  cursor: pointer;
  color: white;
}
.isSetBgGreen {
  background-color: green;
}

.footer_btn .footer_btn {
  display: flex;
}

.btnArr {
  display: flex;
}

.ft_btn {
  cursor: pointer;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #fca100;
  border-radius: 50%;
  margin-right: 17px;
}


