.reportMain {
  width: 100%;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}

.reportMain .isArrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.reportMain .isArrow .isRightFd {
  margin-top: -100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 180px;
  position: relative;
}

.reportMain .isArrow .isRightFd .isBtn {
  width: 56px;
  height: 56px;
}
.isLeftArrowBg {
  background: url(../../assets/images/leftArrow.png);
  background-size: cover;
}
.isRightArrowBg {
  margin-left: 45px;
  background: url(../../assets/images/rightArrow.png);
  background-size: cover;
  background-color: rgb(31, 98, 86);
}
.isRightFd .greenBox {
  position: absolute;
  right: -150px;
  top: -10px;
  width: 47px;
  height: 64px;
  background-color: rgb(67, 204, 116);
}
.inner-container::-webkit-scrollbar {
  display: none;
}

.isPhoto_Main {
  margin-top: 26px;
  display: flex;
  overflow-x: scroll;
  padding-left: 20px;
  padding-right: 20px;
  /* background-color: red; */
}

.box {
  flex: 1;
  width: 297px;
  /* background-color: red; */
  margin-right: 50px;
}

.isImageT {
  width: 296px;
  height: 296px;
}

.fm-raleway {
  font-family: 'Raleway';
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* Text/Title Text */

  color: #333333;
}

.isNOMr {
  margin-right: 0;
}

.isWtkImage {
  background: url(../../assets/images/wtk.jpg);
  background-size: cover;
}

.isJokerImage {
  background: url(../../assets/images/joker.jpg);
  background-size: cover;
}

.isBadImage {
  background: url(../../assets/images/badminton.jpg);
  background-size: cover;
  margin-right: 0;
}

.isMahImage {
  background: url(../../assets/images/mahjong.jpg);
  background-size: cover;
}

.isTabImage {
  background: url(../../assets/images/tableTennis.jpg);
  background-size: cover;
}

.gameText {
  margin-top: 38px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  /* Text/Title Text */

  color: #333333;
}

.text {
  margin-top: 17px;
  font-size: 20px;
}

.message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 296px;
  margin-top: 30px;
  color: #666666;
  padding-left: 20px;
  padding-right: 20px;
}

.container__swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
