.container {
    margin-top: 0;
    overflow: hidden;
}

.charitybox {
    margin-top: 40px;
    margin-left: 120px;
    width: 721px;
    height: 157px;
    display: flex;
    box-sizing: border-box;
}

.listshadow {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.100345);
    border-radius: 3px;
}

.fz-16c {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1C1D1F;
}

.fz-16b {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #757575;
}

.ml-26 {
    margin-left: 26px;
}

.ml-16 {
    margin-left: 16px;
}


.fz-16d {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #1C1D1F;
}

.bot {
    display: flex;
    flex-direction: row;
}


.isSpot {
    width: 6px;
    height: 6px;
    background: url('../../assets/images/divider.jpg');
    background-size: cover;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
}

.mt-8 {
    margin-top: 8px;
}


.photo {
    width: 100%;
}

.mbt-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.ml-one3 {
    margin-left: 17%;
}

.row-padding {
    display: flex;
    flex-direction: row;
}

.txt-center {
    text-align: center !important
}

.t3-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.t3-bottombar {
    border-bottom: 6px solid #ccc !important
}

.border-dark-grey {
    border-color: #616161 !important
}

.t3-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.t3-five {
    width: 17%
}
.ml-2half{
    margin-left: 2.5%;
}
.t3-margin-bottom {
    margin-bottom: 16px !important
}

.t3-card-4 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}


.t3-container {
    padding: 0.01em 16px
}

.t3-opacity {
    opacity: 0.60
}

.ml-20{
    margin-left: 20px;
}