.container {
  margin-top: 0;
  overflow: hidden;
}

.ml-at {
  margin: 0 auto; 
}

.header {
  max-width: 80%;
  padding-right: 90px;
  border-radius: 40px;
  /* padding-right: 108px; */
  min-height: 706px;
  max-height: 706px;
  background-color: rgb(49, 155, 136);
  position: relative;
  box-sizing: border-box;
  position: relative;
}

.fz-48T {
  margin-top: 54px;
  font-size: 48px;
  color: #333333;
}

.fiveroundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  top: 33px;
  right: -192px;
  z-index: 2;
}

.sixroundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  Left: -35px;
  bottom: -99px;
}
.isHaveRoundBg {
  position: relative;
}

.sevenroundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  right: -50px;
  top: 1346px;
  z-index: 1;
  /* bottom: -63px; */
}

.eightroundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  top: -260px;
  left: 0px;
  /* right: 90px;
  bottom: -63px; */
}

.header .left {
  padding-top: 115px;
  padding-left: 134px;
  max-width: 70%;
}

.header .header_img {
  position: absolute;
  top: 87px;
  /* right: -270px; */
  right: -230px;
  bottom: 116px;
  /* max-width: 30%; */
  min-width: 504px;
  max-width: 504px;
  min-height: 562px;
  max-height: 562px;
}

.fz-64z {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
  /* or 134% */

  color: #ffffff;
}

.fz-16w {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  /* Background/Light Blue */
  color: #f7f6fe;
}

.mt-40 {
  margin-top: 40px;
}

.mt-31 {
  margin-top: 31px;
}

.isSearch {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.isSearch .tip {
  font-size: 22px;
  font-weight: 700px;
  color: rgb(102, 102, 102);
}

.isSearch .title {
  margin-top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* Text/Title Text */

  color: #333333;
}

.isSearch .isIpt {
  margin-top: 24px;
  display: flex;
  height: 56px;
}

.isSearch .isIpt .ipt {
  display: block;
  width: 504px;
  padding-left: 30px;
  border: none;
  border-radius: 15px;
  border: 1px solid #666;
  outline: none;
}

.isSearch .isIpt .btn {
  margin-left: 18px;
  padding: 20px;
  width: 56px;
  line-height: 56px;
  border-radius: 10px;
  text-align: center;
  background: url(../../assets/images/sendIcon.png) center no-repeat;
  /* background-color: rgb(252, 161, 0); */
  background-size: 100 100;
}

.isList {
  min-height: 1400px;
  width: 1440px;
  display: flex;
}

.caleft {
  margin-top: 0;
  width: 70%;
  position: relative;
  margin-right: 100px;
  margin-left: 120px;
}

.charityboxs {
  margin-top: 40px;
  max-width: 721px;
  min-width: 500px;
  min-height: 157px;
  max-height: 200px;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
}

.listshadow {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.100345);
  border-radius: 3px;
}

.isList .right {
  min-width: 372px;
  max-width: 372px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 150px;
}

.isList .right .box1 {
  margin-top: 40px;
  padding: 43px 35px 0;
  min-width: 372px;
  max-width: 372px;
  min-height: 240px;
  padding-bottom: 35px;
  max-height: 700px;
}

.isList .right .box2 {
  margin-top: 40px;
  padding: 43px 35px 0;
  min-width: 372px;
  max-width: 372px;
  min-height: 240px;
  padding-bottom: 35px;
  max-height: 700px;
}

.isList .right .box3 {
  margin-top: 40px;
  padding: 43px 35px 0;
  min-width: 372px;
  max-width: 372px;
  min-height: 240px;
  padding-bottom: 35px;
  max-height: 700px;
}



.isRightTitle {
  position: sticky;
  top: 10px;
}

.mt-62 {
  margin-top: 62px;
}

.isRightTitle {
  font-size: 19px;
  font-weight: 700;
  color: break;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.100345);
  border-radius: 3px;
}

.isNoBorder {
  margin-top: 100px;
  border: none !important;
}

.mt-44AndRound {
  margin-top: 44px;
  line-height: 26px;
  border-bottom: 1px solid rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.isRound {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.isCheck {
  background-color: rgb(49, 155, 136);
}
.isGard {
  background-color: rgb(229, 229, 229);
}

.two {
  margin-top: 40px;
}

.three {
  min-width: 372px;
  max-width: 372px;
  display: flex;
  flex-direction: column;
  max-height: 100px !important;
  background: #ffffff;
  box-shadow: 0px 25px 55px rgba(126, 126, 126, 0.15);
}

.time-box {
  display: flex;
  justify-content: space-between;
}

.mt-44 {
  margin-top: 44px;
}

.right .setHeight {
  padding: 43px 35px 0;
  min-height: 100px;
  max-height: 100px;
  padding-bottom: 48px;
}

.isMt-21 {
  margin-top: 21px !important;
}

.haveChildren {
  display: flex;
  flex-direction: column;
}

.son {
  padding-left: 20px;
}

.isPage {
  margin-top: 170px;
  padding-left: 411px;
  display: flex;
}

.isPage .btn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #3e6357;
  margin-right: 10px;
  border: 1px solid rgb(199, 202, 201);
}

.isNoBg {
  background-color: #fff !important;
  border: 1px solid rgb(199, 202, 201);
}

.isPage .nextBtn {
  width: 108px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #3e6357;
}
.isPageText {
  color: #1f6256;
}
.isWhiteText {
  color: white;
}
.isChildrenText {
  font-size: 13px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.83);
}

/* {charityBox} */
.fz-16c {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1C1D1F;
}

.fz-16b {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}

.ml-26 {
  margin-left: 26px;
}

.fz-16d {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1C1D1F;
}

.bot {
  display: flex;
  flex-direction: row;
}


.isSpot {
  width: 6px;
  height: 6px;
  background: url('../../assets/images/divider.jpg');
  background-size: cover;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-16{
  margin-bottom: 16px;
}
